<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="devextreme-controls-netcore" value="https://nuget.devexpress.com/9VMgJfcGJuoeCPCR5OFMyHzaYYcsvBWLol2dmbedso4vLqbSmo/api" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>