@page
@{
    ViewData["Title"] = "WeatherForecast";
}

<h2>Weather Forecast - </h2> @*Put the location here*@

@(Html.DevExtreme().DataGrid<WeatherForecast>()
    .DataSource(d => d.Mvc().Controller("WeatherForecastAPI").LoadAction("Get"))
    .Columns(columns => {

        columns.AddFor(m => m.Date);

        columns.AddFor(m => m.TemperatureMin);

        columns.AddFor(m => m.TemperatureMax);

        columns.AddFor(m => m.WeatherCondition);
    })
)
